@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  font-family: "poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
}

.container2 {
  max-width: 1400px;
  margin-right: auto;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
}

#navbar {
  width: 100vw;
  height: 70px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 50px;
  z-index: 100000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#backtop .top-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#backtop.backtop-show {
  bottom: 100px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin-top: 20px;
  margin-left: 350px;
}
.nav__list .nav__link {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__list .nav__link:hover {
  font-weight: 600;
  color: black;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  position: relative;
  bottom: 5px;
  right: 250px;
  color: #22343D;
}

.sign, #btn {
  width: 102px;
  height: 43px;
  font-size: 16px;
  border-radius: 4px;
  background: #02897A;
  color: #fff;
  padding-top: 10px;
  padding-left: 22.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  bottom: 10px;
}
.sign:hover, #btn:hover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #173A56;
  background-color: #fff;
}

#btn {
  width: 110px;
  height: 43px;
  padding-right: 23px;
  padding-bottom: 10px;
}

.header__center {
  background: #EDEDED;
}

.title {
  position: relative;
  top: 250px;
  left: 100px;
}
.title h1 {
  width: 518px;
  height: 120px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 18px;
}
.title p {
  width: 458px;
  height: 95px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header__image {
  margin-left: 800px;
  position: relative;
  bottom: 100px;
}

.video, .sign__up, .contact {
  border: 175px 53px;
  padding: 17px 40px;
  font-size: 16px;
  border-radius: 4px;
  background: #02897A;
  color: #fff;
  margin-left: 95px;
  position: relative;
  bottom: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.video:hover, .sign__up:hover, .contact:hover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #173A56;
  background-color: #fff;
}

#video {
  margin-left: 30px;
  position: relative;
  bottom: 250px;
}
#video h1 {
  color: #02897A;
  margin-left: 325px;
  position: relative;
  bottom: 45px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.header__bottom h1 {
  margin-top: 50px;
  width: 539px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  margin-left: 450px;
}

#title {
  font-size: 32px;
}

.cards img {
  width: 50px;
  height: 50px;
}
.cards .card1 {
  margin-left: 80px;
  position: relative;
  top: 70px;
}
.cards .card2 {
  margin-left: 450px;
  position: relative;
  bottom: 150px;
}
.cards .card3 {
  margin-left: 800px;
  position: relative;
  bottom: 370px;
}
.cards .card4 {
  margin-left: 1150px;
  position: relative;
  bottom: 590px;
}
.cards h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cards p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.card1, .card2, .card3, .card4 {
  width: 200px;
  height: 200px;
  margin: 20px;
}
.card1 h1, .card2 h1, .card3 h1, .card4 h1 {
  font-size: 22px;
  position: relative;
  right: 628px;
  bottom: 30px;
}
.card1 p, .card2 p, .card3 p, .card4 p {
  position: relative;
  bottom: 15px;
}

.sign__up {
  position: relative;
  bottom: 500px;
  margin-left: 620px;
}

.card__box1, .card__box3 {
  width: 486px;
  height: 435px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  position: relative;
  bottom: 200px;
  left: 150px;
}
.card__box1 h2, .card__box3 h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.card__box1 h1, .card__box3 h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
  margin-bottom: 23px;
}
.card__box1 p, .card__box3 p {
  width: 486px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 30px;
}
.card__box1 h3, .card__box3 h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 25px;
}

.box__image1 {
  width: 486px;
  height: 435px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 800px;
  position: relative;
  bottom: 650px;
}

.card__box2 {
  width: 486px;
  height: 427px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 800px;
  position: relative;
  bottom: 400px;
}
.card__box2 h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.card__box2 h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}
.card__box2 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card__box2 h5 {
  margin: 30px;
  margin-left: 70px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.tasks {
  width: 35px;
  height: 35px;
  margin-left: 820px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  position: relative;
  bottom: 1200px;
}

.box__image2 {
  width: 586px;
  height: 585px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 80px;
  position: relative;
  bottom: 850px;
}

.card__box1 {
  width: 486px;
  height: 435px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  position: relative;
  bottom: 200px;
  left: 150px;
}
.card__box1 h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.card__box1 h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
  color: black;
}
.card__box1 p {
  width: 486px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 30px;
}
.card__box1 h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 25px;
}

.card__box3 {
  position: relative;
  bottom: 750px;
}

.box__image3 {
  margin-left: 850px;
  position: relative;
  bottom: 1100px;
}

.headline {
  margin-left: 50px;
  position: relative;
  bottom: 800px;
}
.headline h1 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.headline p {
  width: 542px;
  text-align: center;
  margin-left: 380px;
}

.avatar1, .avatar2, .avatar3, .avatar4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: 150px;
  position: relative;
  bottom: 700px;
}
.avatar1 p, .avatar2 p, .avatar3 p, .avatar4 p {
  padding-top: 15px;
  padding-left: 24px;
  width: 274px;
  height: 53px;
  border-radius: 26.5px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.avatar1 img, .avatar2 img, .avatar3 img, .avatar4 img {
  position: relative;
  bottom: 20px;
}

.avatar2 {
  margin-left: 900px;
  position: relative;
  bottom: 800px;
}

.avatar3 {
  margin-left: 270px;
}

.avatar4 {
  margin-left: 900px;
  position: relative;
  bottom: 800px;
  right: 120px;
}

.contact {
  margin-left: 600px;
  position: relative;
  bottom: 700px;
}

.title2 {
  margin-left: 140px;
  position: relative;
  bottom: 500px;
}
.title2 h1 {
  margin-bottom: 8px;
}

.owl-theme {
  margin-left: 130px;
  bottom: 450px;
}

.owl-theme .box {
  width: 348px;
  height: 359px;
  border: 2px solid black;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
}
.owl-theme .box h1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
  margin-left: 26px;
}
.owl-theme .box h1 span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: black;
}
.owl-theme .box p {
  width: 294px;
  height: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 24px;
}
.owl-theme .box p:hover {
  color: #02897A;
}

.owl-theme img {
  width: 348px;
  height: 185px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.team__card3 {
  width: 348px;
  height: 185px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 150px;
}

.title3 {
  margin-left: 70px;
  position: relative;
  bottom: 250px;
}
.title3 h1 {
  text-align: center;
}
.title3 p {
  text-align: center;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  gap: 100px;
  position: relative;
  bottom: 200px;
}
.price__box .price__box1,
.price__box .price__box2,
.price__box .price__box3 {
  padding-top: 24px;
  width: 322.649px;
  height: 456px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  background: #02897A;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.price__box .price__box1:hover, .price__box .price__box1 button:hover,
.price__box .price__box2:hover,
.price__box .price__box2 button:hover,
.price__box .price__box3:hover,
.price__box .price__box3 button:hover {
  background: #FFF;
  color: #02897A;
  border: 2px solid #02897A;
}
.price__box .price__box1 h1,
.price__box .price__box2 h1,
.price__box .price__box3 h1 {
  margin-left: 100px;
}
.price__box .price__box1 p,
.price__box .price__box2 p,
.price__box .price__box3 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-left: 73px;
}
.price__box .price__box1 h2,
.price__box .price__box2 h2,
.price__box .price__box3 h2 {
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  margin-left: 83px;
}
.price__box .price__box1 span,
.price__box .price__box2 span,
.price__box .price__box3 span {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 141px;
  position: relative;
  bottom: 85px;
}
.price__box .price__box1 h3,
.price__box .price__box2 h3,
.price__box .price__box3 h3 {
  color: #E0E0E0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
  margin-left: 141px;
  position: relative;
  bottom: 80px;
}
.price__box .price__box1 h4,
.price__box .price__box2 h4,
.price__box .price__box3 h4 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-left: 107px;
  margin-bottom: 16px;
  position: relative;
  bottom: 40px;
}
.price__box .price__box1 button,
.price__box .price__box2 button,
.price__box .price__box3 button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 19px 11px 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #FFF;
  color: #02897A;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 91px;
}
.price__box .price__box1 button:hover,
.price__box .price__box2 button:hover,
.price__box .price__box3 button:hover {
  background-color: #02897A;
  color: #FFF;
}

.price__box3 span, h3 {
  position: relative;
  left: 20px;
}

.title4 h1 {
  text-align: center;
  margin-bottom: 8px;
}
.title4 p {
  width: 537px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-left: 400px;
}

.rates__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 66px;
  margin-left: 165px;
  margin-top: 50px;
}

.rates__box1, .rates__box2, .rates__box3 {
  width: 327px;
  height: 236px;
  padding-top: 28px;
  padding-left: 28px;
  padding-bottom: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  background: var(--light-background, #fff);
}
.rates__box1 h4, .rates__box2 h4, .rates__box3 h4 {
  color: #02897A;
  width: 101px;
  margin-left: 70px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.rates__box1 h4 span, .rates__box2 h4 span, .rates__box3 h4 span {
  color: black;
}

#data {
  width: 275px;
  height: 84px;
  color: #DEDEDE;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-bottom: 36px;
}

.people {
  position: relative;
  bottom: 50px;
}

.stars {
  margin-bottom: 10px;
}

.task {
  width: 968px;
  height: 345px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 32px;
  background: #02897A;
  margin-top: 150px;
  padding-top: 50px;
  margin-left: 250px;
}
.task img {
  margin-left: 550px;
  position: relative;
  bottom: 300px;
}
.task button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 19px 11px 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #FFF;
  color: #02897A;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 91px;
}
.task button:hover {
  background-color: #02897A;
  color: #FFF;
  border: 2px solid white;
}
.task p {
  width: 510px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%;
  color: #FFF;
  margin-left: 50px;
  margin-bottom: 70px;
}

.product {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  gap: 16px;
}
.product .footer__logo {
  position: relative;
  bottom: 25px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 50px;
  position: relative;
  right: 150px;
}

.task__1, .task__2 {
  margin-left: 500px;
  position: relative;
  bottom: 80px;
}
.task__1 h1, .task__2 h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.task__1 h2, .task__2 h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.task__2 {
  margin-left: 750px;
  position: relative;
  bottom: 258px;
}

h6 {
  width: 280px;
  height: 57px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 1000px;
  position: relative;
  bottom: 440px;
}

#footer button {
  margin-left: 1000px;
  position: relative;
  bottom: 340px;
}

input {
  width: 325px;
  height: 48px;
  margin-left: 1000px;
  position: relative;
  bottom: 460px;
}

#switch {
  margin-left: 350px;
  position: relative;
  bottom: 175px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --switch-height: 30px;
  --circle-size: 25px;
  --switch-padding: calc((var(--switch-height) - var(--circle-size)) / 2);
  --switch-color: grey;
  --circle-color: black;
  --switch-transtion: 0.5s;
}

#switch {
  padding: 50px;
}

.switch {
  width: calc(2 * var(--circle-size) + 2 * var(--switch-padding));
  height: var(--switch-height);
  padding: var(--switch-padding);
  border-radius: calc(var(--switch-height) / 2);
  -webkit-transition: var(--switch-transtion);
  transition: var(--switch-transtion);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--switch-color);
}

.switch::after {
  content: "";
  display: inline-block;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  -webkit-transition: var(--switch-transtion);
  transition: var(--switch-transtion);
  background-color: var(--circle-color);
}

.switch:checked {
  background-color: var(--circle-color);
}

.switch:checked::after {
  margin-left: var(--circle-size);
  background-color: var(--switch-color);
}

input {
  position: relative;
  top: 80px;
  right: 70px;
}

label {
  color: #A4A6B3;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 60px;
  bottom: 25px;
}

.bottom-btn img {
  width: 31px;
  height: 30px;
  position: relative;
  right: 10px;
}

.bottom-btn a {
  color: #A4A6B3;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 60px;
  bottom: 55px;
}