@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
    font-family:poppins ;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family:poppins ;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family:poppins ;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
